libglvnd0
libgl1
libglx0
libegl1
pkg-config
libglvnd-dev
libxext6
libx11-6
libegl1-mesa-dev
build-essential
vim
clang
curl
htop
libasound2-dev
libusb-1.0-0-dev
libgl1-mesa-dev
xorg-dev
libyaml-cpp-dev
freeglut3
freeglut3-dev
libboost-dev
cmake
ros-noetic-tf
ros-noetic-catkin
ros-noetic-cv-camera
ros-noetic-image-geometry
ros-noetic-video-stream-opencv
ros-noetic-vision-opencv
ros-noetic-cv-bridge
ros-noetic-image-transport
ros-noetic-image-transport-plugins
ssh
libopenmpi-dev
zlib1g-dev